@media only screen and (max-width: 767px) {
    .banner-area.pt-80 {
        padding-top: 60px;
    }

    .banner-area.pb-85 {
        padding-bottom: 35px;
    }
}

.banner-area-2 .container-fluid {
    padding-right: 10px;
    padding-left: 10px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .banner-area-2 .container-fluid {
        padding-right: 30px;
        padding-left: 30px;
    }
}

@media only screen and (max-width: 767px) {
    .banner-area-2 .container-fluid {
        padding-right: 15px;
        padding-left: 15px;
    }
}

@media only screen and (max-width: 767px) {
    .banner-area-2.pb-85 {
        padding-bottom: 42px;
    }
}

@media only screen and (min-width: 1366px) and (max-width: 1600px) {
    .banner-area-2.banner-area-2 .single-banner .banner-content {
        top: 15px;
        left: 15px;
    }

    .banner-area-2.banner-area-2 .single-banner .banner-content h3 {
        font-size: 25px;
    }

    .banner-area-2.banner-area-2 .single-banner .banner-content h4 {
        margin: 3px 0 10px;
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1365px) {
    .banner-area-2.banner-area-2 .single-banner .banner-content {
        top: 15px;
        left: 15px;
    }

    .banner-area-2.banner-area-2 .single-banner .banner-content h3 {
        font-size: 25px;
    }

    .banner-area-2.banner-area-2 .single-banner .banner-content h4 {
        margin: 3px 0 10px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .banner-area-2.banner-area-2 .single-banner .banner-content {
        top: 25px;
    }

    .banner-area-2.banner-area-2 .single-banner .banner-content h3 {
        font-size: 30px;
    }

    .banner-area-2.banner-area-2 .single-banner .banner-content h4 {
        margin: 3px 0 40px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .banner-area-2.banner-area-2.pt-10 {
        padding-top: 30px;
    }
}


.pb-90 {
    padding-bottom: 90px;
}

@media only screen and (max-width: 767px) {
    .pb-90 {
        padding-bottom: 50px;
    }
}

.pt-120 {
    padding-top: 120px;
}

@media only screen and (max-width: 767px) {
    .pt-120 {
        padding-top: 50px;
    }
}
color .banner-content h3 {
    color: #000000;
}
.single-banner.banner-red-color .banner-content a {
    border: 2px solid #020202;
    color: #000000;
}